/* site.css*/
header,footer
{
	background-color:lightgray;
	border: solid 1px black;
	font family:'times new roman' , sans serif;
}

footer{
	padding:10px;
	border-radius: 3px;
}

border-style: {
	font family: Segoe UI, Arial,sans serif;
	font-size: 14px;
}

#main{
	border: solid 1px #ccc;
	border-radius: 5px;
	color: #FF0000;
	margin:20px 10px 10px 10px;
	padding: 5px;
}
